
seleniumCSharp/obj/Debug/seleniumCSharp.pdb
seleniumCSharp/obj/Debug/seleniumCSharp.dll
seleniumCSharp/obj/Debug/seleniumCSharp.csprojAssemblyReference.cache
seleniumCSharp/bin/Debug/seleniumCSharp.pdb
seleniumCSharp/bin/Debug/seleniumCSharp.dll
seleniumCSharp/bin/Debug/nunit_random_seed.tmp
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/seleniumCSharp/v16/TestStore/0/testlog.manifest
.vs/seleniumCSharp/v16/TestStore/0/000-0000.testlog
.vs/seleniumCSharp/v16/Server/sqlite3/storage.ide
.vs/seleniumCSharp/v16/Server/sqlite3/db.lock
.vs/seleniumCSharp/v16/.suo
.vs/ProjectSettings.json
